body {
  background-color: black;
}

#mainpage {
  width: 30cm;
  height: 89cm;
  background-color: rgb(79, 81, 79);
  border: 6px solid gray;
  color: white;
  padding: 50px;
}

#logo {
  position: relative;
  bottom: 4px;
  right: 8px;
  width: 90px;
  height: 90px;
  border: 5px solid white;
  border-style: dotted;
  border-radius: 50%;
}

#title {
  text-align: center;
  font-size: 100px;
  color: red;
  position: relative;
  right: 30px;
  left: 5px;
}

#subtitle {
  text-align: center;
  padding-right: 15px;
  position: relative;
  bottom: 20px;
  right: 5px;
  left: 40px;
}

/* common grid-container for all content */

.grid-container {
  border: 6px solid gray;
  margin-top: 2cm;
  width: 22cm;
  position: relative;
  left: 100px;
}

/* content-1 */

#con-1-id {
  height: 425px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "c-1 c-2";
}

#group {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

#col-1 {
  grid-area: c-1;
  text-align: center;
  padding: 25px;
  padding-top: 10px;
  background-color: orange;
}

#calorie {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#col-2 {
  grid-area: c-2;
  text-align: center;
  padding: 25px;
  padding-top: 10px;
  background-color: lightskyblue;
}

/* content-2 */

#con-2-id {
  height: 400px;
  background-color: rgb(255, 44, 44);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "col-3 col-4"
    "row-2 row-2";
}

#col-3 {
  grid-area: col-3;
  padding-left: 34px;
  padding-top: 70px;
}

#col-4 {
  grid-area: col-4;
  padding-left: 34px;
  padding-top: 70px;
}

#smoke {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
}

#drinks {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 43px;
}

#poverty {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 5px;
}

#row2 {
  grid-area: row-2;
  padding: 34px;
}

/* content-3 */

#con-3-id {
  height: 400px;
  background-color: rgb(124, 218, 247);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "col-5 col-6";
}

#col-5 {
  grid-area: col-5;
  padding-top: 40px;
  padding-left: 20px;
  margin: 5px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 10, "wght" 800, "GRAD" 0, "opsz" 48;
}

#warning {
  border: 1px solid black;
  width: 27px;
  background-color: black;
}

#col-6 {
  grid-area: col-6;
  padding-top: 120px;
  padding-left: 10px;
  padding-right: 20px;
  margin: 5px;
}

/* content-4 */

#con-4-id {
  height: 400px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "col-7 col-8";
}

#col-7 {
  grid-area: col-7;
  background-color: rgb(247, 51, 51);
  padding-top: 40px;
  text-align: center;
}

#frenchfry {
  width: 100px;
  height: 100px;
}

#col-8 {
  grid-area: col-8;
  background-color: rgb(250, 169, 19);
  padding-top: 30px;
  text-align: center;
}

#juice {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* content-5 */

#con-5-id {
  height: 250px;
  background-color: rgb(110, 219, 252);
  display: grid;
  grid-template-columns: 70% 30%;
}

#head {
  font-weight: bold;
  font-size: 55px;
  padding-top: 15px;
  padding-left: 30px;
}

#sub-head {
  padding-left: 30px;
}

#remote {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  bottom: 140px;
}

/* content-6 */

#con-6-id {
  height: 255px;
  background-color: rgb(246, 172, 34);
  display: grid;
  grid-template-columns: 70% 30%;
}

#head2 {
  font-weight: bold;
  padding-top: 2px;
  padding-left: 10px;
  font-size: 70px;
}

#subhead2 {
  padding-left: 11px;
}

#cycle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  left: 600px;
  bottom: 190px;
}

/* content-7 */

#con-7-id {
  height: 450px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "col-10 col-11";
}

#col-10 {
  grid-area: col-10;
  background-color: lightskyblue;
}

#money {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  left: 100px;
  top: 20px;
}

#head3 {
  font-weight: bold;
  font-size: 70px;
  padding-left: 50px;
}

#subhead3 {
  padding-left: 50px;
  padding-top: 40px;
}

#col-11 {
  text-align: center;
  padding-top: 35px;
  padding-right: 5px;
  background-color: rgb(248, 77, 77);
}

#head4 {
  padding-top: 10px;
  font-size: 35px;
}
